{% extends "index.html" %}
{% block content %}

<div class="container">
    <h2>Careers</h2>
    <div class="job-listings">
      <div class="job">
        <h3>Full Stack Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae suscipit justo. Integer nec lorem vitae justo pulvinar luctus.</p>
        <button class="btn">Apply Now</button>
      </div>
      <div class="job">
        <h3>Frontend Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae suscipit justo. Integer nec lorem vitae justo pulvinar luctus.</p>
        <button class="btn">Apply Now</button>
      </div>
      <div class="job">
        <h3>Frontend Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae suscipit justo. Integer nec lorem vitae justo pulvinar luctus.</p>
        <button class="btn">Apply Now</button>
      </div>
      <div class="job">
        <h3>Frontend Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae suscipit justo. Integer nec lorem vitae justo pulvinar luctus.</p>
        <button class="btn">Apply Now</button>
      </div>
      <div class="job">
        <h3>Frontend Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae suscipit justo. Integer nec lorem vitae justo pulvinar luctus.</p>
        <button class="btn">Apply Now</button>
      </div>
      <div class="job">
        <h3>Frontend Developer</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae suscipit justo. Integer nec lorem vitae justo pulvinar luctus.</p>
        <button class="btn">Apply Now</button>
      </div>
    </div>
  </div>
  {% endblock %}