{% extends "index.html" %}
{% block content %}

<div class="container">
    <h1>Add Post</h1>
    <form action="/posts" method="post" enctype="multipart/form-data">
        <input type="text" name="caption" placeholder="Caption">
        <input type="file" name="image">
        <button type="submit">Add Post</button>
    </form>
    
    <h1>Posts</h1>
    <div class="reco-cont">
        <h3>Recommendations</h3>
        {% for user in userList %}
        <div class="reco-item">
            <div class="reco-profile">
                <div class="reco-profile-image">{{ user[1][0] }}</div>
                <p class="reco-profile-name">{{ user[1] }} {{ user[2] }}</p>
            </div>
            <div class="reco-button-cont">
                <button>Add Friend</button>
                <a href="/{{user[5]}}"><button>View Profile</button></a>
            </div>
        </div>
        {% endfor %} 
    </div>
    {% for post in posts %}
    <div class="post">
        <p>{{ post[2] }}</p>
        <img src="{{ post[3] }}" alt="Post Image"><br />
        <button onclick="likePost('{{ post.id }}')"><i class="fas fa-solid fa-heart"></i></button><span>{{ post[4] }}</span>
        <button onclick="commentPost('{{ post.id }}')"><i class="fas fa-solid fa-comment"></i></button><span>{{ post[5] }}</span>
        <button onclick="sharePost('{{ post.id }}')"><i class="fas fa-solid fa-share"></i></button><span>{{ post[6] }}</span>
    </div>
    {% endfor %}
</div>

{% endblock %}