{% extends "index.html" %}
{% block content %}

<div class="container">
    <h1>Add Post</h1>
    <form action="/posts" method="post" enctype="multipart/form-data">
        <input type="text" name="caption" placeholder="Caption">
        <input type="file" name="image">
        <button type="submit">Add Post</button>
    </form>
    
    <h1>Posts</h1>
    {% for post in posts %}
    <div class="post">
        <p>{{ post[2] }}</p>
        <img src="{{ post[3] }}" alt="Post Image"><br />
        <button onclick="likePost('{{ post.id }}')"><i class="fas fa-solid fa-heart"></i></button><span>{{ post[4] }}</span>
        <button onclick="commentPost('{{ post.id }}')"><i class="fas fa-solid fa-comment"></i></button><span>{{ post[5] }}</span>
        <button onclick="sharePost('{{ post.id }}')"><i class="fas fa-solid fa-share"></i></button><span>{{ post[6] }}</span>
    </div>
    {% endfor %}
</div>

{% endblock %}