{% extends "index.html" %}
{% block content %}
<div class="container">
    <h2>Pricing</h2>
    <div class="pricing">
      <div class="price-item">
        <h3>Starter</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$99/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Standard</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$199/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
      <div class="price-item">
        <h3>Premium</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed velit ac ligula lacinia sodales.</p>
        <p>$299/month</p>
        <button class="btn">Choose Plan</button>
      </div>
    </div>
  </div>

  {% endblock %}